# weights and biases
.wandb/ 
wandb_api_key.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.DS_Store
*.vscode

# C extensions
*.so
*.py~

# Pycharm
.idea

# vim temp files
*.swp

# Sphinx doc
doc/_build/
doc/source/auto_examples/
doc/source/modules/generated/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints

#my
# my/plot_burgers_2d_solver.py
# my/plot_FNO_darcy.py
# my/plot_SFNO_swe.py
# my/plot_UNO_darcy.py
my/GALLERY_HEADER.rst
neuralop/data/datasets/data/darcy_32.tgz
neuralop/data/datasets/data/darcy_train_32.pt
neuralop/data/datasets/data/darcy_test_32.pt
checkpoints/
/*.png
data
wandb
*.npy